
* {
    font-family: "Arial", sans-serif;
}

.title {
    background-color: rgb(255, 94, 0);
    color: white;
    text-align: center;
}

.recipes {
    text-align: center;
}

img {
    width: 300px;
    height: auto;
}